.dashboard__hero {
  text-align: center;
  padding: 90px 90px 45px 90px;
  background: linear-gradient(141deg, #cb2d3e 0%, #ef473a 100%);

  .button-logout {
    color: black;
    width: 80px;
    height: 20px;
    border: 0px;
    cursor: pointer;
    outline: 0px;
  }

  h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 50px;
  }
  
  .add_entry {
    color: white;
    width: 140px;
    height: 50px;
    font-size: 21px;
    background: #34D2C1;
    border: 1px;
    cursor: pointer;
    outline: 0px;
    padding: 2px;
    margin: 20px;
  }
}

.dashboard__list {
  padding: 30px 90px;

  ul {
    list-style: none;
    margin-bottom: 20px ;
    border: 1px solid #dadada;
  }
}

.dashboard-list-zero-state {
  text-align: center;
  padding: 20px;
  color: gray;
  font: 90%;
}

